.header-wrapper{
    width:100%;
    background-color:#333;
    top:0;
    position:fixed;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    padding:10px 15px;
    color:#fff;
    z-index: 999;
}
.header{
    display:flex;
    align-items: center;
}

